{% extends 'admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div>
        <a href="/admin/import_dishes">
            Importer les plats.
        </a>
    </div>
{% endblock %}
